* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fu-lt;
    src: url(../fonts/Futura-LT-W01-Medium.ttf);
}

@font-face {
    font-family: fu-pt;
    src: url(../fonts/Futura-PT-W01-Book.ttf);
}

@font-face {
    font-family: fu-light;
    src: url(../fonts/futura-light.ttf);
}

@font-face {
    font-family: fu-extra;
    src: url(../fonts/Futura-Extra-Bold.otf);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

header .container {
    max-width: 1500px;
    margin: 0 auto;
}


main .container {
    max-width: 1170px;
    margin: 0 auto;
}

footer .container {
    max-width: 1170px;
    margin: 0 auto;
}

/*carousel-cell  */
.carousel-cell {
    width: 24%;
    height: 420px;
}

.carousel-cell:before {
    display: block;
}


/* -------------POPUP--------- */

.popup-newsletter {
    display: block;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 500%;
    background-color: rgba(0, 0, 0, 0.3);
}

.newsletter {
    width: 100%;
    text-align: center;
    margin-top: 150px;
    position: relative;
}

.newsletter img {
    width: 60%;
}

.newsletter-left {
    width: 70%;
    position: absolute;
    top: 10%;
    left: 6%;
}

.newsletter-left p {
    font-size: 27px;
    letter-spacing: 3px;
    line-height: 44px;
    color: #111111;
    font-weight: 300;
    font-family: fu-pt;
    text-align: center;
    padding-top: 5px;
}

.newsletter-left .input-name {
    width: 50%;
    padding: 8px 0;
}

.newsletter-left span {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #7f7f7f;
    font-family: "Times New Roman";
    margin-right: 60px;
}

.box-input {
    margin-top: 7%;
    display: flex;
    margin-left: 30%;
}

.newsletter-left .submit-name {
    width: 15%;
    padding: 10px 0;
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
    margin-left: 0;
    padding-left: 0;
    border: none;
}

.box-icon-popup {
    margin-top: 2%;
    display: flex;
    margin-left: 40%;
}

.box-icon-popup li a {
    padding: 6px;

}

.box-icon-popup li a {
    color: #bebebe !important;
}

.newsletter-right {
    position: absolute;
    top: 3%;
    right: 7%;
    width: 30%;

}

.newsletter-right a {
    cursor: pointer;
}

/* ------------SILDE-BAR---------- */
.side-bar {

    background-repeat: none;
    position: relative;
}

.side-bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.4;
}

.side-bar img {
    width: 100%;
}

.side-bar-left {
    width: 70%;
    height: 100%;
    float: left;
    text-align: center;
    margin-top: 10%;
    position: absolute;
    top: 0;
    left: 0;
}

.mail {
    width: 484px;
    height: 60px;
    padding-left: 20px;
    border: 2px solid rgb(137, 137, 137);
    background-color: white
}

.submit {
    margin-left: -100px;
    width: 150px;
    height: 60px;
    color: white;
    background-color: black;
    border: 1px solid transparent;
}

#submit:hover {
    cursor: pointer;
}

.side-bar-right {
    width: 30%;
    height: 100%;
    position: absolute;
    right: -296px;
    top: 0px;
}

.close-icon {
    position: absolute;
    padding-right: 10px;
    font-family: sans-serif;
    font-weight: 10px;
    /* margin-left: 90%; */
}

.close-icon:hover {
    cursor: pointer;
}


.top-bar {
    padding: 10px 0;
    border-bottom: 1px solid #f3f4f6;
}

.top-bar .top-bar-left a span {
    font-size: 12px;
    letter-spacing: 1px;
    color: #111111;
    font-weight: bold;
    font-family: fu-pt;
    text-align: center;
}

.top-bar-right {
    display: flex;
}

.top-bar .top-bar-right .login a {
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #111111;
    font-weight: bold;
    font-family: fu-pt;
    text-align: center;
}

.usd {
    margin-right: 0px;
    padding: 0px;
}

.login {
    position: relative;
}

.eng {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}


.lst-eng {
    position: absolute;
    display: none;
    z-index: 10;
    top: 100%;
    left: 0%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2px;
}

.login:hover .lst-eng {
    position: absolute;
    display: block;
    z-index: 10;
    top: 100%;
    left: 0%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.lst-eng .hr-eng {
    border-bottom: 1px solid rgb(247, 243, 243);

}

.lst-eng .hr-eng .eng-down {
    padding: 10px 0;
}


.menu_1 {
    padding: 30px 0;
}

.navbar-nav .nav-item {
    position: relative;
    padding: 0px 9px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 15px;
    letter-spacing: 1px;
    color: #111111 !important;
    font-weight: 900;
    font-family: fu-light;
}


.navbar-nav .nav-item .sub-menu {
    display: none;
    position: absolute;
    left: -24%;
    top: 110%;
    width: 200px;
    z-index: 10;
    padding-left: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);

}

.navbar-nav .nav-item:hover .sub-menu {
    display: block;
    position: absolute;
    left: -24%;
    top: 110%;
    width: 200px;
    z-index: 10;
    padding-left: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);

}

.navbar-nav .nav-item .sub-menu li {
    padding: 20px 0 20px 33px;
    border-bottom: 1px solid #f3f4f6;
    line-height: 6px;
}

.navbar-nav .nav-item .sub-menu li a {
    font-size: 17px;
    letter-spacing: 1px;
    color: #111111;
    font-weight: 300;
    font-family: fu-pt;
}


/* ------------------GIRL--------------- */
.navbar-nav .nav-item .sub-menu-peple-girl {

    width: 1170px;
    display: none;
    position: absolute;
    left: -333%;
    top: 110%;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    line-height: 2.2;
    background: #ffffff;
}

.navbar-nav .nav-item:hover .sub-menu-peple-girl {

    width: 1170px;
    display: block;
    position: absolute;
    left: -333%;
    top: 110%;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    line-height: 2.2;
    background: #ffffff;
}



.sub-menu-peple-girl .menu-people-girl {
    display: flex;
}

.sub-menu-peple-girl .menu-people-girl .menu-girl {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    width: 670px;
}

.name-top {
    margin-bottom: 16px;
}

.name-top span {
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 26px;
    color: #111111;
    font-family: "Times New Roman";
}


.sub-menu-peple-girl .menu-people-girl .menu-girl li {
    line-height: 32px;
}

.sub-menu-peple-girl .menu-people-girl .menu-girl a {
    font-size: 17px;
    letter-spacing: 1px;
    color: #111111;
    font-weight: 300;
    font-family: fu-pt;
}

.sub-menu-peple-girl .menu-people-girl .menu-girl .top {
    width: 204px;
    padding-left: 34px;
}


.sub-menu-peple-girl .menu-people-girl .menu-girl .mid {
    width: 206px;
    padding-left: 34px;
    border-left: 1px solid #e1e1e1;
}

.sub-menu-peple-girl .menu-people-girl .menu-girl .bottom {
    width: 223px;
    padding-left: 34px;
    border-left: 1px solid #e1e1e1;
}

.sub-menu-peple-girl .menu-people-girl .img-girl {
    width: 500px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.img-girl .new-trend {
    display: flex;
    justify-content: center;
    width: 250px;
    position: absolute;
    right: 49%;
    bottom: 46%;
    border: 2px solid #e1e1e1;
}

.img-girl .new-trend span {
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 28px;
    color: #111111;
    font-weight: 500;
    font-family: fu-pt;
    text-align: center;
    padding: 15px 10px;
}


.img-girl .sale-girl {
    width: 251px;
    position: absolute;
    right: 49%;
    bottom: 32%;
}

.img-girl .sale-girl span {
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 28px;
    color: #111111;
    font-weight: 800;
    font-family: fu-extra;
    text-align: center;
}

/* ------------------MEN--------------- */
.navbar-nav .nav-item .sub-menu-peple-men {
    width: 1170px;
    display: none;
    position: absolute;
    left: -628%;
    top: 110%;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    background: #ffffff;
}

.navbar-nav .nav-item:hover .sub-menu-peple-men {
    width: 1170px;
    display: block;
    position: absolute;
    left: -628%;
    top: 110%;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    background: #ffffff;
}

.navbar-nav .nav-item .sub-menu-peple-men .menu-people-men {
    display: flex;
}

.navbar-nav .nav-item .sub-menu-peple-men .menu-men {

    width: 500px;
    display: flex;
    padding-top: 39px;
    padding-bottom: 39px;

}

.navbar-nav .nav-item .sub-menu-peple-men .menu-men .top {
    width: 66%;
    padding-left: 30px;
}

.name-men {
    margin-bottom: 23px;
}

.name-men span {

    font-size: 17px;
    letter-spacing: 2px;
    line-height: 26px;
    color: #111111;
    font-family: "Times New Roman";
}

.navbar-nav .nav-item .sub-menu-peple-men .menu-men li {
    line-height: 33px;

}

.navbar-nav .nav-item .sub-menu-peple-men .menu-men li a {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #111111;
    font-weight: 300;
    font-family: fu-pt;
}


.navbar-nav .nav-item .sub-menu-peple-men .menu-men .bottom {
    width: 50%;
    padding-left: 35px;
    border-left: 1px solid #e1e1e1;
}

.navbar-nav .nav-item .sub-menu-peple-men .img-men {
    position: relative;
    width: 760px;
    margin-top: 48px;
}

.navbar-nav .nav-item .sub-menu-peple-men .img-men img {
    margin-left: 65px;
}

.img-men .new-trend {
    position: absolute;
    right: 12%;
    bottom: 32%;
    color: white;
    border: 2px solid #e1e1e1;
    padding: 13px 15px;
}

.img-men .new-trend span {
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 500;
    font-family: fu-pt;
    text-align: center;

}

.img-men .sale-men {
    position: absolute;
    right: 10%;
    bottom: 16%;
    padding: 13px 15px;
}

.img-men .sale-men span {
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 800;
    font-family: fu-extra;
    text-align: center;
}



/* menu-left */
.menu-left {
    display: flex;
    float: right;
    padding: 25px 0;
}

.menu-left .icon-search {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eeeff1;
    margin-right: 12px;
}

.menu-left .icon-search .down-search {
    width: 300px;
    display: none;
    position: absolute;
    z-index: 10;
    padding: 5px 10px;
    margin-top: 43px;
    margin-left: -151px;
}

.menu-left .icon-search:hover .down-search {
    width: 300px;
    display: block;
    position: absolute;
    z-index: 10;
    padding: 5px 10px;
    margin-top: 43px;
    margin-left: -151px;
}

.menu-left .icon-search .down-search .content-search {
    width: 20px;
    position: relative;
    background-color: white;
}

.menu-left .icon-search .down-search .content-search input {
    position: absolute;
    border: none;
    top: 0px;
    left: 20px;
}

.menu-left .icon-search .down-search .content-search i::after {
    content: ' ';
    position: absolute;
    color: #000000;
}

.menu-left .icon-search a {
    position: absolute;
    left: 28%;
    top: 20%;
}

.menu-left .icon-search a i {
    color: #000000;
}

.box-money {
    margin-left: 10px;
    width: 110px;
    border: 1px dashed gray;
    position: relative;
    height: 37px;
}

.box-money .money {
    position: absolute;
    top: 16%;
    left: 15%;
}

.box-money .money span {
    font-size: 15px;
    color: #111111;
    font-family: "Times New Roman";
    text-align: center;
}

.box-money .img-cart {
    position: absolute;
    top: 18%;
    right: 13%;
}

.box-money .number-cart {
    display: flex;
    justify-content: flex-end;
}

.box-money .number-cart span {
    font-size: 17px;
    font-weight: 300;
    font-family: fu-light;
    border-radius: 50%;
    background-color: red;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}

.down-cart {
    position: absolute;
    z-index: 10;
    margin-top: 40px;
    width: 300px;
    height: auto;
    top: 0%;
    right: -6%;
    display: none;
}

.box-money:hover .down-cart {
    position: absolute;
    z-index: 10;
    margin-top: 40px;
    width: 300px;
    height: auto;
    top: 0%;
    right: -6%;
    display: block;
}

.content-cart {
    background-color: white;
    padding: 20px;
}

.cart-top {

    display: flex;
}

.cart-left {
    margin-right: 30px;
}

.cart-left .cart1 {
    margin-bottom: 10px;
}

.cart-bottom .bill .ship {
    display: flex;
    justify-content: space-between;
}

.checkout {
    padding: 10px 0;
    background-color: #f3f4f6;
}

.checkout:hover {
    padding: 10px 0;
    background-color: #f2727f;
}

.checkout a {
    color: #000000;
}

.checkout a:hover {
    color: white;
}

/* -------------MAIN------------ */
/* Slide */
.carousel-inner .carousel-item {
    position: relative;
}

.carousel-item img {
    width: 100%;
}

.carousel-inner .carousel-item .shadow-slide {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.2;
}

.carousel-inner .carousel-item {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.carousel-inner .carousel-item .wrap-caption-1 {
    width: 60%;
    color: white;
    position: absolute;
    top: 242px;
    right: 59px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.wrap-caption-1 h4 {
    font-size: 24px;
    letter-spacing: 5px;
    color: #ffffff;
    font-weight: 300;
    font-family: fu-light;
    text-align: center;
}

.wrap-caption-1 h1 {
    font-size: 36px;
    letter-spacing: 4px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Times New Roman";
    text-align: center;
}

.wrap-caption-1 p {
    font-size: 15px;
    letter-spacing: 3px;
    color: #ffffff;
    font-family: "Times New Roman";
    text-align: center;
    margin-bottom: 65px;
}

.wrap-caption-1 .show-now {
    background: white;
    padding: 15px 25px;
    font-size: 17px;
    letter-spacing: 2px;
    color: #f2727f;
    font-weight: 300;
    font-family: fu-light;
    text-align: center;
}

.wrap-caption-1 .show-now:hover {
    background: #f2727f;
    padding: 15px 25px;
    font-size: 17px;
    letter-spacing: 2px;
    color: white;
    font-weight: 300;
    font-family: fu-light;
    text-align: center;
}



/* slide-2 */
.carousel-inner .carousel-item .wrap-caption-2 {
    width: 60%;
    position: absolute;
    top: 239px;
    left: 58px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.wrap-caption-2 h4 {
    font-size: 24px;
    letter-spacing: 5px;
    color: #111111;
    font-weight: 300;
    font-family: fu-light;
    text-align: center;
}

.wrap-caption-2 h1 {
    font-size: 36px;
    letter-spacing: 4px;
    color: #111111;
    font-weight: bold;
    font-family: "Times New Roman";
    text-align: center;
}

.wrap-caption-2 p {
    font-size: 15px;
    letter-spacing: 3px;
    color: #111111;
    font-family: "Times New Roman";
    text-align: center;
    margin-bottom: 65px;
}

.wrap-caption-2 .show-now {
    background: white;
    padding: 15px 25px;
    font-size: 17px;
    letter-spacing: 2px;
    color: #f2727f;
    font-weight: 300;
    font-family: fu-light;
    text-align: center;
}

.wrap-caption-2 .show-now:hover {
    background: #f2727f;
    padding: 15px 25px;
    font-size: 17px;
    letter-spacing: 2px;
    color: white;
    font-weight: 300;
    font-family: fu-light;
    text-align: center;
}


*/
/* ----------- SERVICE------------ */

.box-service {
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.lst-service {
    padding: 40px 20px;
    background-color: #f3f4f6;
    margin-bottom: 30px;
}

.lst-service .paint-cl {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

.lst-service .paint-cl a {
    border-radius: 50%;
    background-color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.lst-service .paint-cl a img {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

}

.lst-service h4 {
    font-size: 22px;
    letter-spacing: 2px;
    color: #111111;
    font-family: fu-pt;
    text-align: center;
}


/* -----------ARRIVALS----------- */
.box-ent h2 {
    font-size: 30px;
    letter-spacing: 6px;
    color: #111111;
    font-family: "Times New Roman";
    text-align: center;
}

.box-ent span {
    display: flex;
    justify-content: center;
    font-size: 17px;
    letter-spacing: 2px;
    color: #111111;
    font-weight: 300;
    font-family: fu-pt;
    text-align: center;
}

.info-arr {
    width: 82%;
}

.img-arr {
    position: relative;
}

.info-arr h5 {
    font-size: 13px;
    letter-spacing: 2px;
    color: #111111;
    font-weight: 500;
    font-family: fu-lt;
    text-align: center;
}

.info-arr p {
    font-size: 14px;
    letter-spacing: 2px;
    color: #111111;
    font-weight: 500;
    font-family: fu-lt;
    text-align: center;
}

.pix-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-arr .add-cart-arr {
    display: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #f2727f;
    font-weight: 500;
    font-family: fu-lt;
    padding: 5px 10px;
    background-color: #ffffff;
    margin-bottom: 15px;
    border: 1px solid #f2727f;
}

.info-arr:hover .add-cart-arr {
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    color: #f2727f;
    font-weight: 500;
    font-family: fu-lt;
    padding: 5px 10px;
    background-color: #ffffff;
    margin-bottom: 15px;
    border: 1px solid #f2727f;
}

.info-arr:hover .add-cart-arr:hover {
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 500;
    font-family: fu-lt;
    text-align: center;
    padding: 5px 10px;
    background-color: #f2727f;
    margin-bottom: 15px;
}


.img-arr .status-sale {
    position: absolute;
    top: 5%;
    left: 2%;
    padding: 5px 10px;
    background-color: #f2727f;
    color: white;
    font-size: 15px;
}

.img-arr .status-new {
    position: absolute;
    top: 5%;
    right: 2%;
    padding: 5px 10px;
    background-color: #7accc8;
    ;
    color: white;
    font-size: 15px;
}


.lst-arr img {
    cursor: pointer;
    border: 2px solid transparent;
}

.info-arr:hover {
    transform: scale(1.1);
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}



/* ----------COLLECTION----------- */
.box-collection {

    background-image: url(../images/backgroup-collection.png);
    background-size: cover;
    background-position: center;
}

.lst-collection {
    padding: 50px 0;
    position: relative;
}

.lst-collection img {
    padding: 5%;
    width: 100%;

}

.lst-collection .content-cl {
    width: 90%;
    position: absolute;
    top: 65%;
    left: 5%;
    padding: 3% 0;
    background-color: #ffffffd6;
}

.content-cl span {
    font-size: 20px;
    letter-spacing: 2px;
    color: #111111;
    font-weight: 500;
    font-family: fu-pt;
    text-align: center;

}

/* .can {
    padding-top: 50px;
}

.lst-collection {
    padding: 50px 0;
    position: relative;
}

.lst-collection img {
    padding: 0 15px;

}

.lst-collection .content-cl {
    width: 92%;
    position: absolute;
    top: 71%;
    left: 4%;
    padding: 3% 0;
    background-color: #fefefef0;
} */


/* -----TREND-------- */
.lst-trend {
    padding: 50px 10px;
}


.lst-trend-mid {
    background-image: url(../images/trend-style2.png);
    background-color: #cccccc;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-trend-mid {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.content-trend-mid {
    background-color: #35322e47;
    color: white;
    border: 5px double #6c555e7a;
    letter-spacing: 1px;
    padding: 20px 20px;
}

.lst-trend-mid h4 {
    font-size: 24px;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: "Times New Roman";
    text-align: center;
    white-space: nowrap;
}

.lst-trend-mid span {
    font-size: 30px;
    letter-spacing: 3px;
    color: #ffffff;
    /* font-weight: 300; */
    font-family: fu-pt;
    text-align: center;
}



/* -----PRODUCTS---------- */
.img-product {
    position: relative;
}

.show {
    font-size: 15px;
    letter-spacing: 2px;
    color: #111111 !important;
    font-weight: 500;
    font-family: fu-pt;
    background-color: white !important;
}

.box-product .nav-link {
    display: block;
    padding: 0.5rem 1.5rem !important;
}

.product {
    margin-bottom: 20%;
    margin-top: 20%;
}

.product h5 {
    font-size: 13px;
    letter-spacing: 2px;
    color: #111111;
    font-weight: 500;
    font-family: fu-lt;
    text-align: center;
}

.product p {
    font-size: 14px;
    letter-spacing: 2px;
    color: #111111;
    font-weight: 500;
    font-family: fu-lt;
    text-align: center;
}

.product-1 {
    border: 1xp solid red;
    background-color: white;
}

.img-product img {
    margin-bottom: 30px;
    ;
    width: 100%;
    cursor: pointer;
    border: 2px solid transparent;
}

.product .add-cart {
    display: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #f2727f;
    font-weight: 500;
    font-family: fu-lt;
    padding: 5px 10px;
    background-color: #ffffff;
    margin-bottom: 15px;
    border: 1px solid #f2727f;
}

.product:hover .add-cart {
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    color: #f2727f;
    font-weight: 500;
    font-family: fu-lt;
    padding: 5px 10px;
    background-color: #ffffff;
    margin-bottom: 15px;
    border: 1px solid #f2727f;
}

.product:hover .add-cart:hover {
    display: block;
    color: #ffffff;
    background-color: #f2727f;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: fu-lt;
    padding: 5px 10px;
    margin-bottom: 15px;
}

/* .box-product ul li a:hover {
    transform: scale(1.1);
    color: blueviolet !important;
} */

.box-product .nav-item {
    position: relative;
}

.border-women-top {
    position: absolute;
    top: 0%;
    left: 36%;
}

.border-women-bottom {
    position: absolute;
    top: 52%;
    left: 36%;
}

.border-top {
    display: none;
    position: absolute;
    top: 0%;
    left: 36%;
}

.border-bottom {
    display: none;
    position: absolute;
    top: 52%;
    left: 36%;
}

.box-product .nav-item:hover .border-top {
    display: block;
    position: absolute;
    top: 0%;
    left: 36%;
}

.box-product .nav-item:hover .border-bottom {
    display: block;
    position: absolute;
    top: 52%;
    left: 36%;
}


.product:hover {
    transform: scale(1.1);
    border: 8px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.img-product-2 {
    position: relative;
}

.img-product-2 .status-new {
    position: absolute;
    top: 4%;
    right: 4%;
    padding: 5px 10px;
    background-color: #7accc8;
    color: white;

}

.product-1:hover .img-product-2 .sale-link {
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: block;
}

.product-1 .img-product-2 .sale-link {
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: none;
}



/* ------BLOG-------- */
.blog {
    background-color: #ccd8f0;
}

.lst-blog {
    padding: 90px 0;
    position: relative;
}

.shadow-blog {
    position: relative;
}

.shadow {
    position: absolute;
    height: 90%;
    width: 90%;
    bottom: 5%;
    left: 5%;

    background-color: #8e8575;
    opacity: 0.4;
}

.lst-blog .content-blog {
    position: absolute;
    bottom: 23%;
    left: 10%;
    right: 1%;
    color: white;
    z-index: 10;
}

.content-blog h6 {
    font-size: 15px;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: "Times New Roman";
}

.content-blog span {
    font-size: 12px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 500;
    font-family: fu-lt;
}

.lst-blog img {
    padding: 5%;
    width: 100%;
}


/* ------BRAND-------- */
.lst-brand img {
    padding: 0 10px 30px 10px;
}

/*-------- FOOTER ----------*/

.box-footer {
    background-color: #111111;

}
.footer-top {
    padding: 95px 0;
}

.lst-info {
    padding-top: 13px;
}

.footer-info h3 {
    border-bottom: 1px solid #272727;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Times New Roman";
    padding-bottom: 5px;
}

.footer-info .lst-info li {
    margin: 10px 0;
}

.footer-info .lst-info li a {
    font-size: 17px;
    letter-spacing: 1px;
    color: #5c5c5c;
    font-family: fu-pt;
}

.footer-info .lst-info li a:hover {
    color: white;
}

.footer-right {
    padding-left: 22px;
}

.footer-right h6 {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #b8b8b8;
    font-weight: 300;
    font-family: fu-pt;
    padding-top: 37px;

}

.footer-right span {
    font-size: 15px;
    letter-spacing: 1;
    color: #ffffff;
    font-weight: 500;
    font-family: "Futura PT W01";
}

.add {
    line-height: 34px;

}

.footer-right .add span:nth-child(1) {
    color: white;

}

.footer-right .add span:nth-child(2) {
    color: #7e7e7e;
}

.lst-icon-first li {
    margin: 0 12px;
}

.footer-bottom {
    padding-bottom: 100px;
    
}

.bottom-next {
    display: flex;
    border-bottom: 1px solid #272727;
    margin-right: 30px;
}
.bottom-next .submit-footer
{
    border-right: 1px solid  #3d3d3d;
}
.bottom-next .submit-footer input {
    padding: 5px 10px 5px 10px;
    background-color: #111111;
    color: white;
    border: #111111;
}

.bottom-next .input-footer input {
    width: 100%;
    padding: 5px 0px 5px 10px;
    background-color: #111111;
    border: #111111;
    padding-right: 50%;
}

.bottom-next .input-footer {
    position: relative;
    color: white;
}


.bottom-next  .fa-paper-plane-o{
    cursor: pointer;
    position: absolute;
    top: 15%;
    right: 2%;
    color: #ae555e;
    font-size: 20px;
}

.bottom-last div {
    margin: 0 5px;
}

.last-footer {
    background-color: #000000;
}

.info-last-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0;
    color: #696969;

}

.last-footer .info-last-footer span:nth-child(3) a {
    color: #f2727f;
}

.last-footer .info-last-footer span:nth-child(5) {
    color: #f2727f;
}

